@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: var(--font-bricolage);
}

.mask-service {
  -webkit-mask-image: url("https://evergreen.vamtam.com/wp-content/uploads/2025/07/services-image-mask-1.svg");
  mask-image: url("https://evergreen.vamtam.com/wp-content/uploads/2025/07/services-image-mask-1.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

@layer base {
  .padding-responsive {
    @apply py-16;
  }
}
